.staff-layout-container {
  height: 100vh;
}

.staff-content {
  display: flex;
  flex-direction: column;
}

.content-area {
  padding: 16px;
  height: calc(100vh - 64px);
  overflow-y: auto;
}

.staff-sidenav {
  width: 250px;      
  min-width: 250px;
  max-width: 250px;
}
